# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
#from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [19]:
city_data=pd.read_csv("CityData.csv")
city_data

,Unnamed: 0,city,City Id,Country,Latitude,Longitude,Temperature,Humidity,Wind Speed,Cloudiness
0,0,kutum,1,SD,14.20,24.67,92.79,8,10.42,68
1,1,mataura,2,NZ,-46.19,168.86,53.01,90,7.00,93
2,2,carnarvon,3,AU,-24.87,113.63,78.80,83,12.75,90
3,3,hasaki,4,JP,35.73,140.83,46.67,76,14.99,75
4,4,atar,5,MR,20.52,-13.05,102.85,7,9.80,0
...,...,...,...,...,...,...,...,...,...,...
551,551,tawang,552,IN,27.58,91.87,40.44,29,0.81,64
552,552,nortelandia,553,BR,-14.45,-56.80,83.64,61,5.41,15
553,553,chumikan,554,RU,54.72,135.31,33.28,89,5.55,96
554,554,dingtao,555,CN,35.07,115.56,48.25,69,11.61,98
555,555,riyadh,556,SA,24.69,46.72,102.20,11,9.17,37

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [36]:
gmaps.configure(api_key="AIzaSyDafkZCefrEE_PfY9HW5jcKAeTBOOgkrPM")
city_humidity=city_data['Humidity']
city_coordinates = city_data[['Latitude', 'Longitude']]

humidity_map = gmaps.figure(layout={
        'width': '400px',
        'height': '600px',
        'padding': '3px',
        'border': '1px solid black'
})
humidity_map=gmaps.figure()
humidity_layer = gmaps.heatmap_layer(city_coordinates, weights=city_humidity)

humidity_map.add_layer(humidity_layer)

humidity_map

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [21]:
city_data_ideal=city_data.loc[(city_data['Temperature']>70) & (city_data['Temperature']<80)& (city_data['Wind Speed']>10)&
                             (city_data['Cloudiness']==0)]
city_data_ideal=city_data_ideal.dropna()
city_data_ideal

,Unnamed: 0,city,City Id,Country,Latitude,Longitude,Temperature,Humidity,Wind Speed,Cloudiness
161,161,dunajska streda,162,SK,47.99,17.61,72.07,17,16.11,0
205,205,rawson,206,AR,-43.30,-65.10,71.11,37,25.68,0
241,241,victoria,242,HK,22.29,114.16,70.27,60,14.99,0
316,316,mangrol,317,IN,21.12,70.12,78.21,77,10.45,0
341,341,agudos,342,BR,-22.47,-48.99,72.37,73,10.29,0
357,357,antalaha,358,MG,-14.90,50.28,79.03,82,13.20,0
515,515,cecina,516,IT,43.31,10.52,71.78,34,11.41,0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [28]:
hotel_df=city_data_ideal[['Latitude','Longitude','city', 'Country']].copy()
hotel_df['Hotel Name']=""
hotel_df

     Latitude  Longitude             city Country Hotel Name
161     47.99      17.61  dunajska streda      SK
205    -43.30     -65.10           rawson      AR
241     22.29     114.16         victoria      HK
316     21.12      70.12          mangrol      IN
341    -22.47     -48.99           agudos      BR
357    -14.90      50.28         antalaha      MG
515     43.31      10.52           cecina      IT

In [35]:
# params = {
    
#     "radius": 5000,
#     "type": "lodging",
#     "key": "AIzaSyDafkZCefrEE_PfY9HW5jcKAeTBOOgkrPM"
# }
#gkey="AIzaSyDafkZCefrEE_PfY9HW5jcKAeTBOOgkrPM"
# params = {
#     "location": location,
#     "keyword": city,
#     "radius": 5000,
#     "type": "lodging"
#     #"key": gkey
# }
# # set up a parameters dictionary
# params={}

# # base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():
    
    #get coordinates
    params = {
    "location": row[['Latitude','Longitude']],
    "keyword": row['city'],
    "radius": 5000,
    "type": "lodging"
   # "gkey":"AIzaSyDafkZCefrEE_PfY9HW5jcKAeTBOOgkrPM"
    }
#     location=row[['Latitude','Longitude']]
    
#     params['location']=location
                 
#     # get restaurant type from df
#     city = row['city']

#     # add keyword to params dict
#     params['keyword'] = city
    
    

    # assemble url and make API request
    print(f"Retrieving Results for Index {"city"}: {"Hotel name"}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
#     try:
#         print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
#         types_df.loc[index, 'name'] = results[0]['name']
#         types_df.loc[index, 'address'] = results[0]['vicinity']
#         types_df.loc[index, 'price_level'] = results[0]['price_level']
#         types_df.loc[index, 'rating'] = results[0]['rating']
        

# # run a request using our params dictionary
# response = requests.get(base_url, params=params)

SyntaxError: invalid syntax (<ipython-input-35-bf4fe5b18142>, line 44)

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map