# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
#from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [13]:
city_data=pd.read_csv("CityData_1.csv")
city_data

,City Id,City,Country,Latitude,Longitude,Temperature,Max Temperature,Humidity,Wind Speed,Cloudiness
0,1,bluff,NZ,-46.60,168.33,70.00,70.00,49,7.00,1
1,2,kapaa,US,22.08,-159.32,76.57,78.80,65,6.93,75
2,3,ostrovnoy,RU,68.05,39.51,11.70,11.70,95,8.99,56
3,4,kavaratti,IN,10.57,72.64,84.74,84.74,70,7.38,38
4,5,provideniya,RU,64.38,-173.30,15.37,15.37,94,13.49,100
...,...,...,...,...,...,...,...,...,...,...
557,558,grajau,BR,-5.82,-46.14,75.06,75.06,87,1.95,75
558,559,iquitos,PE,-3.75,-73.25,77.00,77.00,94,3.36,75
559,560,ngudu,TZ,-2.97,33.33,62.73,62.73,65,8.03,3
560,561,ambilobe,MG,-13.20,49.05,72.52,72.52,84,5.26,20
561,562,owando,CG,-0.48,15.90,71.67,71.67,88,2.13,100

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [14]:
gmaps.configure(api_key="AIzaSyCrIYdXEcmnHekxUvto_QQ3jw-gpxQ27gQ")
city_humidity=city_data['Humidity']
city_coordinates = city_data[['Latitude', 'Longitude']]

humidity_map = gmaps.figure(layout={
        'width': '400px',
        'height': '600px',
        'padding': '3px',
        'border': '1px solid black'
})
humidity_map=gmaps.figure()
humidity_layer = gmaps.heatmap_layer(city_coordinates, weights=city_humidity)

humidity_map.add_layer(humidity_layer)

humidity_map

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [18]:
city_data_ideal=city_data.loc[(city_data['Temperature']>70) & (city_data['Temperature']<80)& (city_data['Wind Speed']<10)
                               &(city_data['Cloudiness']==0)]
                           
                           
city_data_ideal

,City Id,City,Country,Latitude,Longitude,Temperature,Max Temperature,Humidity,Wind Speed,Cloudiness
133,134,lazaro cardenas,MX,17.96,-102.20,74.05,74.05,82,1.63,0
245,246,pisco,PE,-13.70,-76.22,71.78,72.00,83,8.05,0
263,264,pokhara,NP,28.23,83.98,75.92,75.92,13,0.49,0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [19]:
hotel_df=city_data_ideal[['Latitude','Longitude','City', 'Country']].copy()
hotel_df['Hotel Name']=""
hotel_df

     Latitude  Longitude             City Country Hotel Name
133     17.96    -102.20  lazaro cardenas      MX
245    -13.70     -76.22            pisco      PE
263     28.23      83.98          pokhara      NP

In [11]:
# params = {
    
#     "radius": 5000,
#     "type": "lodging",
#     "key": "AIzaSyDafkZCefrEE_PfY9HW5jcKAeTBOOgkrPM"
# }
#gkey="AIzaSyDafkZCefrEE_PfY9HW5jcKAeTBOOgkrPM"
# params = {
#     "location": location,
#     "keyword": city,
#     "radius": 5000,
#     "type": "lodging"
#     #"key": gkey
# }
# # set up a parameters dictionary
# params={}

# # base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

for index, row in hotel_df.iterrows():
    
    #get coordinates
    params = {
    "location": row[['Latitude','Longitude']],
    "keyword": row['city'],
    "radius": 5000,
    "type": "lodging"
    "api":"AIzaSyCrIYdXEcmnHekxUvto_QQ3jw-gpxQ27gQ"
    }
#     location=row[['Latitude','Longitude']]
    
#     params['location']=location
                 
#     # get restaurant type from df
#     city = row['city']

#     # add keyword to params dict
#     params['keyword'] = city
    
    

    # assemble url and make API request
    print(f"Retrieving Results for Index {"city"}: {"Hotel name"}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
#     try:
#         print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
#         types_df.loc[index, 'name'] = results[0]['name']
#         types_df.loc[index, 'address'] = results[0]['vicinity']
#         types_df.loc[index, 'price_level'] = results[0]['price_level']
#         types_df.loc[index, 'rating'] = results[0]['rating']
        

# # run a request using our params dictionary
# response = requests.get(base_url, params=params)

SyntaxError: invalid syntax (<ipython-input-11-b89d47893242>, line 29)

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map